<div class="editControls">
    <div class="btn-group">
        <a class="btn btn-xs btn-default" data-role="undo" href="#" title="Deshacer"><span class="fontawesome-undo"></span></a>
        <a class="btn btn-xs btn-default" data-role="redo" href="#" title="Rehacer"><span class="fontawesome-repeat"></span></a>
    </div>
    <div class="btn-group">
        <a class="btn btn-xs btn-default" data-role="bold" href="#" title="Negrita"><span class="fontawesome-bold"></span></a>
        <a class="btn btn-xs btn-default" data-role="italic" href="#" title="Cursiva"><span class="fontawesome-italic"></span></a>
        <a class="btn btn-xs btn-default" data-role="underline" href="#" title="Subrayado"><span class="fontawesome-underline"></span></a>
        <a class="btn btn-xs btn-default" data-role="strikeThrough" href="#" title="Tachado"><span class="fontawesome-strikethrough"></span></a>
    </div>
    <div class="btn-group">
        <a class="btn btn-xs btn-default" data-role="insertUnorderedList" href="#" title="Lista no numerada"><span class="fontawesome-list-ul"></span></a>
        <a class="btn btn-xs btn-default" data-role="insertOrderedList" href="#" title="Lista numerada"><span class="fontawesome-list-ol"></span></a>
    </div>
    <div class="btn-group">
        <a class="btn btn-xs btn-default" data-role="h3" href="#" title="Encabezado"><strong>H</strong></a>
        <a class="btn btn-xs btn-default" data-role="p" href="#" title="Párrafo"><strong>p</strong></a>
    </div>
</div>