@import url(http://weloveiconfonts.com/api/?family=brandico|fontawesome);

/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

.clear {
    clear:both;
}

.filaGuardar {
    margin: 15px;
}
.btnGuardar {
        color: rgba(0,0,0,0.9);
        font-size: 30px;
        margin: 0 10px;
    }
        .btnGuardar:hover,
        .btnGuardar:focus {
            color: rgba(0,0,0,0.8);
        }

@import url(https://fonts.googleapis.com/css?family=Hind:400,700);
body {
    font-family: 'Hind', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6, p, a, li {
    font-family: 'Hind', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.encabezado_pagina {
    font-family: times, Times New Roman, times-roman, georgia, serif;
    border-bottom: solid 2px #A345FA;
	color: #111;
	margin: 30px 0;
	padding: 0px 0px 6px 0px;
	font-size: 50px;
	line-height: 44px;
	letter-spacing: -2px;
	font-weight: bold;
}

/* Estilos bootstrap sobreescritos */
.body-content {
    margin-top: 10px;
}

body {
    padding-top: 50px;
    background: #fff;
}

a {
    color:#A345FA;
}
    a:hover {
        color:#A345FA;
    }

.form-control:focus {
    border-color: #9B66CC;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(187, 138, 232);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(187, 138, 232);
}
.form-control.errorValidacion:focus {
    border-color: #D42525;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(128, 55, 55);;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(128, 55, 55);;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px rgb(220, 235, 165) inset; /*Background al ser autorrellenados los inputs*/
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
    background-color: #000;
    border-color: #fff;
}

/* NAV */
.navbar-default.menuCV {
    background: rgba(0,0,0,0.9);
    border: 1px solid rgba(0,0,0,0.5);
}
    .navbar-default.menuCV .navbar-nav > li > a {
        color: #dedede;
        font-size:17px;
        line-height: 35px;
    }
        .navbar-default.menuCV .navbar-nav > li > a:hover {
            color: #fff;
        }
        .navbar-default.menuCV .navbar-nav > li > a:focus {
            color: #dedede;
        }
.navbar-brand.logotipo {
     color: #dedede;
     font-size:24px;
     position: relative;
}
    .navbar-brand.logotipo img{
         width: 15%;
         position: absolute;
         z-index: 50;
         top: 5px;
         left: 32px;
         -webkit-transition: all .5s; /* Safari */
        transition: all .2s;
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
        
    }
        .navbar-brand.logotipo:hover img {
             left: 23px;
             -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
            top: 3px;
        }
    .navbar-brand.logotipo strong {
         color: #a345fa;
    }
    .navbar-brand.logotipo:hover{
         color: #eee;
    }
        .navbar-brand.logotipo:hover span.glyphicon {
             color: #dedede;
        }
    .navbar-brand.logotipo:focus{
         color: #dedede;
    }
        .navbar-brand.logotipo:hover strong {
             color: #B466FC;
        }

/* HOME */

/*encabezado*/
.row.encabezado_home {
    background-image: url("/images/diagonal_thin.png"),radial-gradient(closest-corner, rgba(16,47,70,0) 60%, rgba(16,47,70,0.26)),linear-gradient(346deg, #3C2358 10%, #5f7296 100%);
}
    .row.encabezado_home .jumbotron {
        background: transparent;
    }
        .row.encabezado_home .jumbotron h1,
        .row.encabezado_home .jumbotron p {
            color: #fff;
        }

    .row.encabezado_home p {
        margin-bottom: 25px;
    }
    .row.encabezado_home img {
        display: none;
        width: 450px;
        float: right;
        position: absolute;
        transition: all .4s;
        opacity: .8;
    }
    .row.encabezado_home .cvs3d {
        max-width: 1200px;
        position: relative;
    }
        .row.encabezado_home .cv3d1 {
            top: 90px;
            right: 420px;
        }
            .row.encabezado_home .cv3d1:hover {
                top: 80px;
                opacity: 1;
            }
        .row.encabezado_home .cv3d2 {
            top: 0px;
            right: 170px;
        }
            .row.encabezado_home .cv3d2:hover {
                top: -10px;
                opacity: 1;
            }
        .row.encabezado_home .cv3d3 {
            top: -90px;
            right: -80px;
        }
            .row.encabezado_home .cv3d3:hover {
                top: -100px;
                opacity: 1;
            }

.row.subencabezado_home {
    background: #fff;
}
    .row.subencabezado_home .jumbotron {
        background: #fff;
        text-align: center;
    }
        .row.subencabezado_home .jumbotron h1 {
            color: #111;
            font-size: 30px;
        }
        .row.subencabezado_home .jumbotron span {
            color: #3C2358;
        }
        .row.subencabezado_home .jumbotron p {
            color: #333;
            font-size: 16px;
        }

/*muestras*/
.row.muestras {
    padding: 0  20px 50px 20px;
}
    .row.muestras .nav li a {
        font-size: 1.2em;
        border: 2px solid #999;
        font-weight: bold;
        color: #7635B3;
    }
    .row.muestras .nav li.active a {
        border: 2px solid #999;
        color: #444;
    }
.imagenes_tab img {
    width: 100%;
}

/*comentarios*/
.row.comentarios {
    background: #f3f3f3;
    padding: 20px;
}
    .row.comentarios .dialogbox {
        max-width: 300px;
        margin: auto;
    }
    .row.comentarios .dialogbox .body {
        position: relative;
        max-width: 300px;
        height: auto;
        margin: 20px 10px 12px;
        padding: 5px;
        background-color: #fdfdfd;
        border-radius: 3px;
        border: 5px solid #1E1B3C;
        -webkit-box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.75);
        box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.75);
    }
        .row.comentarios .body .message {
            min-height: 30px;
            border-radius: 3px;
            font-family: Arial;
            font-size: 14px;
            line-height: 1.5;
            color: #222;
        }
    .row.comentarios .tip {
        width: 0px;
        height: 0px;
        position: absolute;
        background: transparent;
        border: 10px solid #1E1B3C;
    }
        .row.comentarios .tip-down {
            bottom: -25px;
            left: 10px;
            border-right-color: transparent;
            border-left-color: transparent;
            border-bottom-color: transparent;  
        }
    .row.comentarios .perfiles {
        margin: 0 10px;
        border-radius: 100%;
    }
    .row.comentarios .nicks {
        font-size: 16px;
        color: #797979;
    }

/* ABOUT */
.row.contenido_about {
    background: #fff;
    padding: 20px;
    font-size: 18px;
}
    .row.contenido_about .jlalovi_logo {
        margin: auto;
        width: 200px;
        display: block;
    }

/* CREAR CV */
.tab-content h2 {
    margin: 5px 0 15px;
    color: #111;
}

.nav-pills.estiloPills > li.active > a, 
.nav-pills.estiloPills > li.active > a:hover,
.nav-pills.estiloPills > li.active > a:focus {
    color: #ffffff;
    background-color: rgba(0,0,0,0.9);
}

.nav-pills.estiloPills > li > a {
    border-radius: 5px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    color: #111;
    font-weight: bold;
}

/* CONTACT */
.contenedor_mapa {
    padding-right: 0;
    padding-left: 0;
}
    #map {
        margin-top: 30px;
        height:350px;
    }

.datos_contacto {
    text-align: center;
}

.social a{
    font-size: 30px;
    margin: 10px 5px;
    color: #333;
}
    .social a:hover {
        text-decoration: none;
    }
        .social a.facebook:hover {
            color: #3B5998;
        }
        .social a.github:hover {
            color: #800080;
        }
        .social a.linkedin:hover {
            color: #007AB9;
        }

/* FOOTER */
footer {
	border-top: 4px black solid;
    background: rgba(0,0,0,0.9);
}
    footer p {
        margin: 0;
        padding: 20px;
        color: #dedede;
        font-size: 16px;
        text-align: center;
    }
    #footer ul.nav > li > a {
        text-align: center;
        font-size: 16px;
        padding: 20px;
        color: #dedede;
    }
        #footer ul.nav > li > a:hover {
            background: rgba(0,0,0,0.5);
        }


/*QUERIES*/

@media screen and (min-width: 769px) {
    
    /*GENERAL*/    
    .body-content {
        margin-top: 15px;
    }

    /*HOME*/
    .row.subencabezado_home .jumbotron h1 {
        font-size: 40px;
    }
    .row.subencabezado_home .jumbotron p {
        font-size: 18px;
    }
    .row.muestras .nav li a {
        font-size: 1.2em;
        border: none;
        border-bottom: 2px solid #999;
        font-weight: bold;
        color: #7635B3;
    }
    .row.muestras .nav li.active a {
        border: 2px solid #999;
        border-bottom-color: transparent;
        color: #444;
    }

    /*ABOUT*/
    .row.contenido_about .jlalovi_logo {
        float: right;
    }

    /*CONTACT*/
    .contenedor_mapa {
        padding-right: 15px;
        padding-left: 15px;
    }
    #map {
        margin-top: 0;
    }

    /*CREAR/EDITAR CV*/
    .colContenidoPills {
        border-left: 3px solid rgba(0,0,0,0.9);
        border-bottom: 3px solid rgba(0,0,0,0.9);
    }
    .collPills {
        padding-right: 0;
    }
    .nav-pills.estiloPills > li > a {
        padding: 15px 15px;
    }
    .colContenidoPills .tab-content {
        min-height: 307px;
    }

    /*FOOTER*/
    footer p {
        display: inline-block;
    }
  
}

@media (min-width: 900px) {
    /*HOME*/
    .row.encabezado_home {
        height: 500px;
    }
        .row.encabezado_home .cv3d1,
        .row.encabezado_home .cv3d2 {
            display: initial;
        }
}

@media (min-width: 1200px) {
    .imagenes_tab img {
        padding: 0 6%;
    }
    .row.encabezado_home .cv3d3 {
        display: initial;
    }
}