@{
    ViewBag.Title = "Acerca de";
}

<div class="container">
    <div class="row contenido_about">
        <div class="col-md-12">
            <h1 class="encabezado_pagina">@ViewBag.Title</h1>
            <p>
                Este sitio web ha sido desarrollado por <strong>Javier Latorre López-Villalta</strong>, como proyecto integrado de
                fin de curso, con la finalidad de evaluar al mismo tiempo las asignaturas relacionadas con servidor, cliente e interfaces.
            </p>
            <p>Las <strong>herramientas utilizadas</strong> han sido:</p>
            <ul>
                <li>ASP.NET MVC</li>
                <li>Bootstrap</li>
                <li>HTML5 / CSS3</li>
                <li>JS / JQuery</li>
                <li>C# / Razor</li>
                <li>SQL Server</li>
                <li>Photoshop CS6</li>
            </ul>
            <p>
                Del mismo modo, la <strong>inspiración</strong> para realizar este proyecto, la he recibido gracias a las siguientes páginas para elaborar
                un diseño más o menos adecuado, considerando el tiempo para la realización del proyecto:
            </p>
            <ul>
                <li><a href="https://www.visualcv.com/">https://www.visualcv.com/</a></li>
                <li><a href="https://cvmkr.com/">https://cvmkr.com/</a></li>
                <li><a href="http://paletton.com/">http://paletton.com/</a></li>
                <li><a href="http://codepen.io/">http://codepen.io/</a></li>
            </ul>
            <p>Podrás encontrar más información sobre otros de mis proyectos y mi perfil en <a href="http://jlalovi.github.io/">http://jlalovi.github.io/</a></p>
            <img class="jlalovi_logo" src="~/images/javi.png" alt="logo perfil Javier Latorre">
        </div>
    </div>
</div>